$colorMap: (
  black: #222,
  black-hole: #010101,
  grey-light: #f5f5f5,
);

@function color($key: normal) {
  @if map-has-key($colorMap, $key) {
    @return map-get($colorMap, $key);
  }

  @return #{$key};
}

// font-size(px): 12, 14, 16, 20, 34
$sizeMap: (
  light: 12px,
  normal: 14px,
  bold: 16px,
  bolder: 20px,
);

@function fontSize($key: normal) {
  @if map-has-key($sizeMap, $key) {
    @return map-get($sizeMap, $key);
  }

  @warn 'Unknown `#{$key}` in $sizeMap.';
  @return null;
}

@function lineHeight($key: normal, $space: 6px) {
  @return fontSize($key) + 2 * $space;
}

.page-wrap {
  width: 100%;
  max-width: 1000px;
}

// http://www.cssmojo.com/latest_new_clearfix_so_far/
.cf::after {
  content: '';
  display: table;
  clear: both;
}

/**
 * mixins
 */
@mixin flexbox($direction:row, $wrap:nowrap, $justify-content:flex-start, $align-items:stretch) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
