*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

// http://www.outlinenone.com/
:focus {
  outline: none;
}

html, button, input, textarea, select {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-size: fontSize();
    line-height: lineHeight(normal, 6px);
  }
}
