{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "not ie < 11"]
      },
      "useBuiltIns": false
    }],
    "stage-0"
  ],
  "plugins": ["transform-runtime"]
}
