{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "Carousel": false,
    "CarouselLite": false
  },
  "rules": {
    "no-console": 1,
    "no-cond-assign": ["error", "except-parens"],
    "no-param-reassign": [
      "error", { "props": false }
    ]
  },
  "extends": "airbnb-base"
}
