<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <title>{{title}}</title>
  <!-- app icon -->
  <link rel="apple-touch-icon" sizes="120x120" href="images/icon@iphone.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/icon@iphone-plus.png">
  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicon.png">
  <!-- build:css styles/normalize.css -->
  <link rel="stylesheet" href="normalize.css/normalize.css" media="all">
  <!-- endbuild -->
  <!-- styles -->
  <link rel="stylesheet" href="styles/{{page}}.css">
</head>
<body>
  {{> App}}

  <!-- build:remove -->
  <script src="scripts/misc/dev.js"></script>
  <!-- endbuild -->
  {{#if legacy}}
  <!-- build:js scripts/jquery.min.js -->
  <script src="jquery/dist/jquery.min.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/es5-shim.min.js -->
  <script src="es5-shim/es5-shim.min.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/es5-sham.min.js -->
  <script src="es5-shim/es5-sham.min.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/polyfill.min.js -->
  <script src="babel-polyfill/dist/polyfill.min.js"></script>
  <!-- endbuild -->
  {{else}}
  <script src="scripts/vendor.js"></script>
  {{/if}}
  <script src="scripts/bundle.js"></script>
</body>
</html>
