<div id="app">
  <!-- Carousel -->
  <div class="demo demo--carousel"></div>
  <!-- Carousel精简版 -->
  <div class="demo demo--carousel-lite"></div>
  <!-- Panel -->
  <div class="demo demo--panel"></div>

  <!-- Btns(mask) -->
  <div class="demo demo--btns-mask">
    <div class="app app--btns">
      <button class="btn btn--green" data-trigger="loading">Loading</button>
      <button class="btn btn--blue" data-trigger="prompt">提示信息</button>
      <button class="btn btn--red" data-trigger="switching">2s切换</button>
    </div>
  </div>

  <!-- Mask -->
  <div class="demo demo--mask"></div>
  <!-- Menu -->
  <div class="demo demo--menu"></div>
</div>
