<div id="app">
  <!-- Carousel -->
  <div class="demo demo--carousel">
    <div class="app app--carousel">
      <div class="carousel" data-group="main">
        <ul class="carousel__main">
          <li class="slide-banner" style="background-color: blue;"></li><!--
          --><li class="slide-banner" style="background-color: green;"></li><!--
          --><li class="slide-banner" style="background-color: red;"></li>
        </ul>
        <div class="carousel__nav">
          <a href="#slide" class="slide-nav" data-order="1"></a><!--
          --><a href="#slide" class="slide-nav" data-order="2"></a><!--
          --><a href="#slide" class="slide-nav" data-order="3"></a>
        </div>
      </div>

      <div class="custom-nav">
        <button class="custom-nav__btn custom-nav__btn--l" data-trigger="customNav" data-reverse="true">cL</button>
        <button class="custom-nav__btn custom-nav__btn--r" data-trigger="customNav">cR</button>
      </div>
    </div>
  </div>

  <!-- Carousel精简版 -->
  <div class="demo demo--carousel-lite">
    <div class="app app--carousel">
      <div class="carousel" data-group="lite">
        <ul class="carousel__main">
          <li class="slide-banner" style="background-color: blue;"></li><!--
          --><li class="slide-banner" style="background-color: green;"></li><!--
          --><li class="slide-banner" style="background-color: red;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
