.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 998;
  transform-style: preserve-3d;
  transform: translate3d(100%, 0, 0);

  &.mask--active {
    transform: translate3d(0, 0, 0);
  }

  &.mask--transparent {
    background-color: rgba(1, 1, 1, 0);
  }

  .mask__panel {
    position: absolute;
    top: 35%;
    left: 50%;
    width: torem(132px);
    height: torem(104px);
    border-radius: torem(12px);
    margin-left: torem(-66px);
    transform: translate3d(0, 0, -999px);
    opacity: 0;

    &.mask__panel--active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    .panel__body {
      height: 100%;
      @include flexbox(column, nowrap, center, center);
      font-size: fontSize(bold);
      text-align: center;
      overflow: hidden;

      .loading {
        position: relative;
        width: torem(28px);
        height: torem(28px);
        margin: torem(10px) 0;
        overflow: hidden;

        /** @see {@link https://github.com/tobiasahlin/SpinKit} */
        .loading__circle {
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: 100%;
          height: 100%;

          &::before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: color(white);
            border-radius: 50%;
            animation: circleDelay 1.2s infinite ease-in-out both;
          }

          @for $i from 2 through 12 {
            &.loading__circle--#{$i} {
              transform: rotate(($i - 1) * 30deg);

              &::before {
                animation-delay: -1.2s + ($i - 1) * 0.1;
              }
            }
          }
        }
      }

      .message {
        margin: 0;
      }
    }
  }
}

@keyframes circleDelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
