/**
 * placeholders
 */
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// @link http://www.cssmojo.com/latest_new_clearfix_so_far/
%cf {
  &:after { // stylelint-disable-line selector-pseudo-element-colon-notation
    content: '';
    display: table;
    clear: both;
  }
}

%inlineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/**
 * functions
 */
@function color($key: normal) {
  @if global-variable-exists(colorMap) and map-has-key($colorMap, $key) {
    @return map-get($colorMap, $key);
  }

  @if type-of($key) == color {
    @return #{$key};
  }

  @warn 'Unknown `#{$key}` in $colorMap.';
  @return null;
}

// font-size(px): 12, 14, 16, 20, 34
$sizeMap: (
  lighter: 12px,
  normal: 14px,
  bold: 16px,
  bolder: 20px,
);

@function fontSize($key: normal) {
  @if map-has-key($sizeMap, $key) {
    @return map-get($sizeMap, $key);
  }

  @if type-of($key) == number and unit($key) == 'px' {
    @return $key;
  }

  @warn 'Unknown `#{$key}` in $sizeMap.';
  @return null;
}
