/* stylelint-disable selector-pseudo-element-colon-notation */
*,
*:before,
*:after {
  box-sizing: content-box;
  // 取消点击链接高亮
  -webkit-tap-highlight-color: transparent;
}
/* stylelint-enable */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
}

a,
img {
  // 禁止长按链接与图片弹出菜单，例如禁止保存图片，仅Safari
  -webkit-touch-callout: none;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 62.5%;

  body {
    // @link https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 1.4em;
    line-height: 1.5;

    /**
     * 文本平滑属性, 仅Mac OS X/macOS
     * @link https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
