.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 998;
  transform-style: preserve-3d;

  &.hidden {
    transform: translate3d(100%, 0, 0);
  }

  .hidden {
    opacity: 0;
    transform: translate3d(0, 0, -999px);
  }

  .mask__panel {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 132px;
    height: 104px;
    border-radius: 12px;
    margin-left: -66px;

    .panel__body {
      height: 100%;
      font-size: fontSize(bold);
      text-align: center;
      border-radius: 12px;
      overflow: hidden;

      .loading {
        display: block;
        width: 28px;
        height: 28px;
        @include imageSet('../images/load@2x.png', '../images/load@3x.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        margin: 5px auto 16px;

        @for $pos from 1 through 12 {
          &[data-pos='#{$pos}'] {
            background-position: -28px * ($pos - 1) top;
          }
        }
      }
    }
  }
}

@media all and (min-width: 376px) {
  .mask {
    .mask__panel {
      width: 145px;
      height: 114px;
      margin-left: -70px;

      .panel__body {
        .loading {
          width: 30px;
          height: 30px;
          margin: 9px auto 16px;

          @for $pos from 1 through 12 {
            &[data-pos='#{$pos}'] {
              background-position: -30px * ($pos - 1) top;
            }
          }
        }
      }
    }
  }
}
