#app {
  @include flexbox(column, nowrap, flex-start, center);

  .demo {
    margin-bottom: torem(20px);

    &.demo--carousel {
      width: 100%;
      height: torem(320px);
    }
    &.demo--carousel-lite {
      width: 100%;
      height: torem(320px);
    }
    &.demo--panel {
      width: 85%;
    }
    &.demo--menu {
      width: 85%;
      height: torem(100px);
    }
  }
}

.app {
  &.app--carousel {
    position: relative;
    width: 100%;
    height: 100%;
    @include flexbox(column, nowrap, flex-start, center);

    // 设置banner数量
    .slide-banner {
      &:nth-child(1) {
        background-color: color(blue);
      }
      &:nth-child(2) {
        background-color: color(green);
      }
      &:nth-child(3) {
        background-color: color(red);
      }
    }

    .custom-nav {
      .custom-nav__btn {
        position: absolute;
        top: 50%;
        width: torem(40px);
        height: torem(40px);
        color: color(black);
        background-color: color(white);
        border: none;
        border-radius: 50%;
        margin-top: torem(-20px);
        cursor: pointer;

        &.custom-nav__btn--l {
          left: torem(10px);
        }
        &.custom-nav__btn--r {
          right: torem(10px);
        }
      }
    }
  }

  &.app--mask {
    .close {
      position: absolute;
      top: torem(20px);
      right: torem(20px);
    }
  }

  &.app--menu {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;

    .menu {
      .menu__nav {
        &.menu__nav--active {
          .custom-detail {
            transform: translate3d(0, 0, 0);
          }
        }

        .custom-detail {
          position: absolute;
          top: torem(42px);
          right: 0;
          bottom: 0;
          left: 0;
          line-height: torem(24px);
          list-style: decimal inside;
          background-color: color(white);
          padding: torem(5px) torem(10px);
          transform: translate3d(0, 0, -999px);
        }
      }
    }
  }
}
