@import 'normalize';

@import 'color.map';
@import 'styles/global';
@import 'styles/root';

// utils
@import 'styles/btn';
@import 'styles/carousel';
@import 'styles/panel';
@import 'styles/mask';
@import 'styles/menu';

@import 'app';
