.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .carousel__main {
    width: 100%;
    height: 100%;
    @include flexbox();
    overflow: visible;
    transition: transform 0.5s;

    .slide-banner {
      flex: 0 0 auto;
      width: 100%;
      height: 100%;
    }
  }

  .carousel__nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: torem(42px);
    @include flexbox(row, nowrap, center, center);

    .slide-nav {
      width: torem(12px);
      height: torem(12px);
      background-color: lighten(color(grey), 30%);
      border-radius: 50%;
      margin: 0 torem(5px);
      overflow: hidden;

      &.slide-nav--active {
        background-color: color(grey);
      }
    }
  }
}

// 使用mixin固定banner数量
@mixin carousel($len: 3) {
  .carousel {
    .carousel__main {
      @for $i from 1 through 3 {
        &[data-focus='#{$i}'] {
          transform: translate3d((1 - $i) * 100%, 0, 0);
        }
      }
    }
  }
}

@supports (--banner-translateX: 0) {
  .carousel {
    .carousel__main {
      --banner-translateX: 0%;
      transform: translate3d(var(--banner-translateX), 0, 0);
    }
  }
}
