.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

// @link https://github.com/h5bp/html5-boilerplate/blob/6180cd90fca68568353c20cc7f91f5d653583e7f/src/css/main.css#L121
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// @link http://www.cssmojo.com/latest_new_clearfix_so_far/
.cf::after {
  content: '';
  display: table;
  clear: both;
}
