@function color($key: normal) {
  @if map-has-key($colorMap, $key) {
    @return map-get($colorMap, $key);
  }

  @if type-of($key) == color {
    @return #{$key};
  }

  @warn 'Unknown `#{$key}` in $colorMap.';
  @return null;
}

@function torem($px) {
  $rem: 100px;
  @return ($px / $rem) + rem;
}

// font-size(px): 12, 14, 16, 20, 34
$sizeMap: (
  light: torem(12px),
  normal: torem(14px),
  bold: torem(16px),
  bolder: torem(20px),
);

@function fontSize($key: normal) {
  @if map-has-key($sizeMap, $key) {
    @return map-get($sizeMap, $key);
  }

  @if type-of($key) == number and unit($key) == 'px' {
    @return torem($key);
  }

  @warn 'Unknown `#{$key}` in $sizeMap.';
  @return null;
}

/**
 * mixins
 */
@mixin flexbox($direction:row, $wrap:nowrap, $justify-content:flex-start, $align-items:stretch) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin imageSet($x2, $x3) {
  background-image: url($x2);
  background-image: -webkit-image-set(url($x2) 2x, url($x3) 3x);
  background-image: image-set(url($x2) 2x, url($x3) 3x);
}
