.menu {
  width: 100%;
  @include flexbox();
  border-bottom: 1px solid color(border);

  .menu__nav {
    flex: 0 0 auto;
    margin-right: torem(3px);
    margin-bottom: -1px;

    &.menu__nav--active {
      .menu__nav__anchor {
        background-color: color(white);
        border: 1px solid color(border);
        border-bottom-color: transparent;
      }
    }

    .menu__nav__anchor {
      display: block;
      color: color(black);
      font-size: fontSize();
      line-height: 1.5;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: torem(4px) torem(4px) 0 0;
      padding: torem(10px) torem(15px) torem(9px);
    }
  }
}
