.panel {
  font-size: fontSize();
  font-weight: normal;
  border: 1px solid color(grey);
  border-radius: torem(5px);
  overflow: hidden;

  // black
  &.panel--black {
    border-color: color(black);

    .panel__head {
      color: color(white);
      background-color: color(black);
    }
  }
  &.panel--black-reverse {
    border-color: color(black);

    .panel__body {
      color: color(white);
      background-color: color(black);
    }
  }

  .panel__head {
    color: color(black);
    background-color: color(white);
    padding: torem(10px) torem(15px);
  }

  .panel__body {
    color: color(black);
    background-color: color(white);
    padding: torem(15px);
  }
}
