.panel {
  font-size: fontSize();
  font-weight: normal;
  border: 1px solid transparent;
  border-radius: torem(5px);
  overflow: hidden;

  .panel__head {
    padding: torem(10px) torem(15px);
  }

  .panel__body {
    padding: torem(15px);
  }

  // black
  &.panel--black {
    border-color: var(--black, #151513);

    .panel__head {
      color: color(white);
      background-color: var(--black, #151513);
    }
  }
}
